<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="fb-root"></div>

  {{{body}}}
  <script src="js/google-maps.js" type="text/javascript"></script>
</body>

</html>
