<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>💩 Places</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="/js/app.js"></script>
	</head>
	<body>
	<div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top text-center greenborder">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand padding-top padding-left" href="#"><img src="img/" width="120%"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <div class="col-sm-6 col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control pull left" style="margin-right:10px;" placeholder="Search..." id="query" name="query" value="">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<nav class="navbar navbar-light bg-faded">
							<a class="navbar-brand" href="#">
								<!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
								<div class="logo">💩</div>
								
							</a>
							<form class="form-inline">
								<input class="form-control mr-sm-2" type="text" placeholder="Search">
								<button class="btn btn-outline-success btn-primary form-submit" type="submit">Search</button>
							</form>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<section id="main-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						{{{body}}}
					</div>
				</div>
			</div>
		</section>
		<body>
		<!--slider2-->
<div class="container margin-top">
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                <h3>Find Your Dream Home!</h3>
            </div>
            <div class="container">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <!-- Controls -->
                    <div class="controls pull-right">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
                        <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                    </div>
                </div>
            </div>
			 <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider1.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>1</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider2.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>2</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider3.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>3</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider4.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>4</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider5.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>5</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider6.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>6</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider7.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>7</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 margin-top">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="img/bottomslider8.jpg" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>8</h5>
                                                <h5 class="price-text-color">
                                </h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                        </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <small><p>Lorem ipsum dolor sit amet</p></small>
                                            <br>
                                            <button type="button" class="btn btn-primary"><small>Read More</small></button>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		</body>
		<footer id="footer">
			<div class="container">
				<div class="row">
				<div class="col-sm-4">
						<h3>About Us</h3>
	                	<small><p>Real people rating buildings management, residences, cleansliness, amenities and so much more!</p></small>

					</div>
					<div class="col-sm-4 float-left">
						<h3>Contact</h3>
		                <ul>
		                    <li><small>svigos.anastasia@gmail.com</small></li>
		                    <li><small>oropezahector@gmail.com</small></li>
		                    <li><small>dan.gabel@gmail.com</small></li>
		                    <li><small>samanthadwm@gmail.com</small></li>
		                </ul>
					</div>
				</div>
			</div>
			
        <div class="row">
            <div class="container-fluid background-black padding-10">
                <small><a class="padding lightblack" href="#">Home</a>|</small>
                <small><a class="padding lightblack" href="#">About</a>|</small>
            </div>
        </div>
    </div>
					
		

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</footer>
</html>