<div class="col-sm-8 col-sm-offset-2 content">
	<h1>Welcome to Building Rater</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tellus ante, pharetra a diam sit amet, laoreet viverra nulla. Nunc sagittis, nisl at auctor euismod, lacus orci semper ante, quis ultrices ligula libero eget augue. Vestibulum at nulla luctus, tempor nunc sed, pulvinar neque. Cras malesuada urna a diam mollis sagittis.</p>

	<form class="form-inline">
	  <label class="sr-only" for="inlineFormInput">Name</label>
	  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">
	  <button type="submit" class="btn btn-primary form-submit">Submit</button>
	</form>
</div>


<a href="/auth/facebook/">
  <img id='login-btn' src="/images/facebook-btn.png" alt="facebook-btn"></a>
<div id="map"></div>
