{{! Main }}
	{{!
	<h1>Welcome to Poopy Places</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tellus ante, pharetra a diam sit amet, laoreet viverra nulla. Nunc sagittis, nisl at auctor euismod, lacus orci semper ante, quis ultrices ligula libero eget augue. Vestibulum at nulla luctus, tempor nunc sed, pulvinar neque. Cras malesuada urna a diam mollis sagittis.</p>
	}}

	<form class="form-inline">
	  <label class="sr-only" for="inlineFormInput">Name</label>
	  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
	</form>
	
{{! Main }}

<div class="location-info">


	<div class="location-data">
		<h2 id="review-address">222 N State</h2>
	</div>
	
	<h3>Ratings</h3>

	<div class="review-data">
		<div class="review-category">Cleanliness</div>
		<div class="review-score" data-score=""></div>
	</div>

{{#if user}} 
<div class='user'>
	Welcome: {{user}}!
</div>
{{else}}
	<div class="review-promt">
		<h2>Want to review this place?</h2>
		<a href="/auth/facebook/">
			<img id='login-btn' src="/images/facebook-btn.png" alt="facebook-btn">
		</a>
	</div>
{{/if}}
</div>


<div class="review-form">
<form>
	<div class="form-group">
	    <div>Review Category #1</div>
	    <div>
	        <p>Description text</p>
	    </div>
	    <label class="radio-inline">
	        <input type="radio" name="category-one" id="inlineRadio1" value="1"> 1
	    </label>
	    <label class="radio-inline">
	        <input type="radio" name="category-one" id="inlineRadio2" value="2"> 2
	    </label>
	    <label class="radio-inline">
	        <input type="radio" name="category-one" id="inlineRadio2" value="3"> 3
	    </label>
	    <label class="radio-inline">
	        <input type="radio" name="category-one" id="inlineRadio2" value="4"> 4
	    </label>
	    <label class="radio-inline">
	        <input type="radio" name="category-one" id="inlineRadio2" value="5"> 5
	    </label>
	</div>
	<div class="form-group">
	    <div>Review Category #2</div>
	    <div>
	        <p>Description text</p>
	    </div>
	    <div class="score-bg">
	        <div class="score">
	            <label class="radio-inline active">
	                <input type="radio" name="category-two" id="inlineRadio1" value="1">
	            </label>
	            <label class="radio-inline">
	                <input type="radio" name="category-two" id="inlineRadio2" value="2">
	            </label>
	            <label class="radio-inline">
	                <input type="radio" name="category-two" id="inlineRadio3" value="3">
	            </label>
	            <label class="radio-inline">
	                <input type="radio" name="category-two" id="inlineRadio4" value="4">
	            </label>
	            <label class="radio-inline">
	                <input type="radio" name="category-two" id="inlineRadio5" value="5">
	            </label>
	        </div>
	    </div>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
                

{{!
<a href="/auth/facebook/">
  <img id='login-btn' src="/images/facebook-btn.png" alt="Facebook Login">
</a>
<a href="/logout/">
  <img id='logout-btn' src="/images/logout.png" alt="Logout Button">
</a>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
}}

<div id="legend">
  <h3>Legend</h3>
</div>

