{{! Main }}
	
	<h1>Welcome to Poopy Places</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tellus ante, pharetra a diam sit amet, laoreet viverra nulla. Nunc sagittis, nisl at auctor euismod, lacus orci semper ante, quis ultrices ligula libero eget augue. Vestibulum at nulla luctus, tempor nunc sed, pulvinar neque. Cras malesuada urna a diam mollis sagittis.</p>
	

	<form class="form-inline">
	  <label class="sr-only" for="inlineFormInput">Name</label>
	  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
	</form>
	
{{! Main }}

<div class="location-info">

	<div class="location-data">
		<h2 id="review-address">222 N State</h2>
	</div>

	<h3>Ratings</h3>

	<div class="review-data">
		<div class="review-category">Cleanliness</div>
		<div class="review-score" data-score="75%">
			<div class="review-scale"></div>
		</div>
	</div>

	<div class="review-promt">
		<h2>Want to review this place?</h2>
		<a href="/auth/facebook/">
			<img id='login-btn' src="/images/facebook-btn.png" alt="facebook-btn">
		</a>
	</div>

</div>

<div class="review-form">
	<div class="review-form-data">
		<h2 id="review-form-address">222 N State</h2>
	</div>

	<form>
		{{!-- review category one --}}
		<div class="form-group">
		    <div class="form-category">Cleanliness</div>
		    <div class="form-description">
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus in enim fermentum mollis. Phasellus blandit urna at ex consectetur, a suscipit felis lobortis.</p>
		    </div>

		    <div class="form-scale">
		    	<label class="">
			        <input type="radio" name="category-one" id="inlineRadio1" value="1"> <span class="mr-pp one"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="2"> <span class="mr-pp two"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="3"> <span class="mr-pp three"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="4"> <span class="mr-pp four"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="5"> <span class="mr-pp five"></span>
			    </label>
		    </div>
		</div>
		
		{{!-- review category two --}}
		<div class="form-group">
		    <div class="form-category">Responsiveness</div>
		    <div class="form-description">
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus in enim fermentum mollis. Phasellus blandit urna at ex consectetur, a suscipit felis lobortis.</p>
		    </div>

		    <div class="form-scale">
		    	<label class="">
			        <input type="radio" name="category-one" id="inlineRadio1" value="1"> <span class="mr-pp one"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="2"> <span class="mr-pp two"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="3"> <span class="mr-pp three"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="4"> <span class="mr-pp four"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="5"> <span class="mr-pp five"></span>
			    </label>
		    </div>

		</div>

		{{!-- review category three --}}
		<div class="form-group">
		    <div class="form-category">Something else</div>
		    <div class="form-description">
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus in enim fermentum mollis. Phasellus blandit urna at ex consectetur, a suscipit felis lobortis.</p>
		    </div>
			<div class="form-scale">
		    	<label class="">
			        <input type="radio" name="category-one" id="inlineRadio1" value="1"> <span class="mr-pp one"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="2"> <span class="mr-pp two"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="3"> <span class="mr-pp three"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="4"> <span class="mr-pp four"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="5"> <span class="mr-pp five"></span>
			    </label>
		    </div>
		</div>

		{{!-- review category four --}}
		<div class="form-group">
		    <div class="form-category">Something else</div>
		    <div class="form-description">
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus in enim fermentum mollis. Phasellus blandit urna at ex consectetur, a suscipit felis lobortis.</p>
		    </div>
		    <div class="form-scale">
		    	<label class="">
			        <input type="radio" name="category-one" id="inlineRadio1" class="radio-button" value="1"> <span class="mr-pp one"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" class="radio-button" value="2"> <span class="mr-pp two"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" class="radio-button" value="3"> <span class="mr-pp three"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" class="radio-button" value="4"> <span class="mr-pp four"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" class="radio-button" value="5"> <span class="mr-pp five"></span>
			    </label>
		    </div>
		</div>

		{{!-- review category five --}}
		<div class="form-group">
		    <div class="form-category">Something else</div>
		    <div class="form-description">
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus in enim fermentum mollis. Phasellus blandit urna at ex consectetur, a suscipit felis lobortis.</p>
		    </div>
			<div class="form-scale">
		    	<label class="">
			        <input type="radio" name="category-one" id="inlineRadio1" value="1"> <span class="mr-pp one"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="2"> <span class="mr-pp two"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="3"> <span class="mr-pp three"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="4"> <span class="mr-pp four"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="5"> <span class="mr-pp five"></span>
			    </label>
		    </div>
		</div>


		{{!-- review category six --}}
		<div class="form-group">
		    <div class="form-category">Something else</div>
		    <div class="form-description">
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus in enim fermentum mollis. Phasellus blandit urna at ex consectetur, a suscipit felis lobortis.</p>
		    </div>
		    <div class="form-scale">
		    	<label class="">
			        <input type="radio" name="category-one" id="inlineRadio1" value="1"> <span class="mr-pp one"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="2"> <span class="mr-pp two"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="3"> <span class="mr-pp three"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="4"> <span class="mr-pp four"></span>
			    </label>
			    <label class="">
			        <input type="radio" name="category-one" id="inlineRadio2" value="5"> <span class="mr-pp five"></span>
			    </label>
		    </div>
		</div>
		
		<div class="form-group">
			<label>Additional Comments</label>
			<textarea class="form-control" id="form-comments" rows="4"></textarea>
		</div>

		<button type="submit" id="submit-review" class="btn btn-default btn-primary btn-lg">Submit your review</button>
	</form>
</div>
                
<script>
	$('.radio-button').click(function() {
        console.log(this);

    });
</script>

{{!
<a href="/auth/facebook/">
  <img id='login-btn' src="/images/facebook-btn.png" alt="Facebook Login">
</a>
<a href="/logout/">
  <img id='logout-btn' src="/images/logout.png" alt="Logout Button">
</a>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
}}

<div id="legend">
  <h3>Legend</h3>
</div>

