<a href="/auth/facebook/">
  <img id='login-btn' src="/images/facebook-btn.png" alt="facebook-btn"></a>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
  <div id="legend">
    <h3>Legend</h3>
  </div>