<a href="/auth/facebook/">
  <img id='login-btn' src="/images/facebook-btn.png" alt="Facebook Login">
</a>
<a href="/logout/">
  <img id='logout-btn' src="/images/logout.png" alt="Logout Button">
</a>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div id="legend">
  <h3>Legend</h3>
</div>
