{{! Main }} {{!
<h1>Welcome to Poopy Places</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tellus ante, pharetra a diam sit amet, laoreet viverra nulla. Nunc sagittis, nisl at auctor euismod, lacus orci semper ante, quis ultrices ligula libero eget augue. Vestibulum at nulla luctus, tempor nunc sed, pulvinar neque. Cras malesuada urna a diam mollis sagittis.</p>
}} {{#if user}}
<div id='user' data-id={{id}}>
  <strong> Welcome:</strong> {{user}}!
<a href="/logout"><img src="/images/logout.png" alt="Logout" height="30px"></a>
</div>
{{/if}}
<form class="form-inline">
  <label class="sr-only" for="inlineFormInput">Name</label>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</form>
{{! Main }}
<div class="location-info">
  <div class="location-data">
    <h2 id="review-address">Click a Poo to check out the reviews</h2>
  </div>
  <h3>Ratings</h3>
  <div class="review-data">
    <div class="review-category">Nothing here yet.<br />Search or select a pin to leave a review.</div>
    <div class="review-score" data-score=""></div>
    {{!-- <button id='reviewBtn' class="btn btn-primary btn-lg hidden">Add a Review</button> --}}
  </div>

  {{#if user}}
  <button id='reviewBtn' class="btn btn-primary btn-lg hidden">Add a Review</button>
  {{/if}}

  {{#unless user}}
  <div class="review-promt">
    <h2>Want to review this place?</h2>
    <a href="/auth/facebook/">
      <img id='login-btn' src="/images/facebook-btn.png" alt="facebook-btn">
    </a>
  </div>
  {{/unless}}
</div>

{{#if user}}
<button id='reviewBtn' class="btn btn-primary btn-lg hidden">Add a Review</button>

<div id='reviewForm' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Poopy Review</h4>
      </div>
      <div class="modal-body">
        <div class="review-form">
        <p>The worse a location is in the given catagory, the higher(darker) the poop rating. Be sure to give as honest feedback as possible</p>
          <form id='formData'>
            <fieldset>
              <div class="form-group" id='cat1'>
                <h3>Neighborhood</h3>
                <div>
                  <p>How poopy is the surrounding area?</p>
                </div>
                <label class="radio-inline score-one">
                  <input type="radio" name="score1" value="1"> 1
                </label>
                <label class="radio-inline score-two">
                  <input type="radio" name="score1" value="2"> 2
                </label>
                <label class="radio-inline score-three">
                  <input type="radio" name="score1" value="3"> 3
                </label>
                <label class="radio-inline score-four">
                  <input type="radio" name="score1" value="4"> 4
                </label>
                <label class="radio-inline score-five">
                  <input type="radio" name="score1" value="5"> 5
                </label>
              </div>
            </fieldset>
            <div class="form-group">
              <h3>Cleanliness</h3>
              <div>
                <p>Are communal locations generally poopy?</p>
              </div>
              <label class="radio-inline score-one">
                <input type="radio" name="score2" value="1"> 1
              </label>
              <label class="radio-inline score-two">
                <input type="radio" name="score2" value="2"> 2
              </label>
              <label class="radio-inline score-three">
                <input type="radio" name="score2" value="3"> 3
              </label>
              <label class="radio-inline score-four">
                <input type="radio" name="score2" value="4"> 4
              </label>
              <label class="radio-inline score-five">
                <input type="radio" name="score2" value="5"> 5
              </label>
            </div>
            <div class="form-group">
              <h3>Management Response</h3>
              <div>
                <p>Does it take a poopy long time to receive a response about apartment problems?</p>
              </div>
              <label class="radio-inline score-one">
                <input type="radio" name="score3" value="1"> 1
              </label>
              <label class="radio-inline score-two">
                <input type="radio" name="score3" value="2"> 2
              </label>
              <label class="radio-inline score-three">
                <input type="radio" name="score3" value="3"> 3
              </label>
              <label class="radio-inline score-four">
                <input type="radio" name="score3" value="4"> 4
              </label>
              <label class="radio-inline score-five">
                <input type="radio" name="score3" value="5"> 5
              </label>
            </div>
            <div class="form-group">
              <h3>Up to Date</h3>
              <div>
                <p>Do the appliances and decor feel outdated or poopy?</p>
              </div>
              <label class="radio-inline score-one">
                <input type="radio" name="score4" value="1"> 1
              </label>
              <label class="radio-inline score-two">
                <input type="radio" name="score4" value="2"> 2
              </label>
              <label class="radio-inline score-three">
                <input type="radio" name="score4" value="3"> 3
              </label>
              <label class="radio-inline score-four">
                <input type="radio" name="score4" value="4"> 4
              </label>
              <label class="radio-inline score-five">
                <input type="radio" name="score4" value="5"> 5
              </label>
            </div>
            <div class="form-group">
              <h3>Noise</h3>
              <div>
                <p>Is the building generally loud?</p>
              </div>
              <label class="radio-inline score-one">
                <input type="radio" name="score5" value="1"> 1
              </label>
              <label class="radio-inline score-two">
                <input type="radio" name="score5" value="2"> 2
              </label>
              <label class="radio-inline score-three">
                <input type="radio" name="score5" value="3"> 3
              </label>
              <label class="radio-inline score-four">
                <input type="radio" name="score5" value="4"> 4
              </label>
              <label class="radio-inline score-five">
                <input type="radio" name="score5" value="5"> 5
              </label>
            </div>
            <div class="form-group">
              <textarea name="comment" id="commentField" cols="50" rows="5" placeholder="Comments"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id='review-submit' type="submit" class="btn btn-primary btn-lg" data-dismiss='modal'>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Error Modal -->
<div id='error' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ERROR!</h4>
      </div>
      <div class="modal-body">
        <p>Please fill out all review fields</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{/if}}

<!-- Modal -->
{{!
<a href="/auth/facebook/">
  <img id='login-btn' src="/images/facebook-btn.png" alt="Facebook Login">
</a>
<a href="/logout/">
  <img id='logout-btn' src="/images/logout.png" alt="Logout Button">
</a>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
}}
<div id="legend" class="hidden">
  <h3>Legend</h3>
</div>
