<!--Result Header-->
<h1>Homepage header</h1>

<!--Homepage instructions-->
<p>Instructions</p>

<!--Homepage form-->
<form>
<!--Search input-->
<!--Submit search-->
</form>

<!--Stretch goal
Area with trending properties
Top movers and shakers
-->
