body{
	background:url('../images/building.jpg') left bottom;
	background-size: cover;
}
header,footer{
	background:#f1f1f1;
	padding:10px;
}
header{
	border-bottom: 5px solid #FF5B5B;
}
footer{
	border-top: 5px solid #FF5B5B;
	color:#ffffff;
	background:#545454;
}
#main-content{
	padding-top:40px;
	padding-bottom:40px;
}
.navbar{
	margin-bottom:0;
}

.logo{
	font-size: 40px;
}
.content{
	background:#fff;
	border-radius: 5px;
}